
h1 {
  color:  #ffb3da;
	font-weight: bold;
	font-family: arial;
	text-align: center;
}

body {
	background-color: #ff1a8c;
}

a {
	 text-decoration: none;
	 color: white;
}

a:hover {
	background-color: #ff4da6;
	color: #ff99ce
}

	